@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.spinner-ring {
  animation: spin-slow 1s linear infinite;
}
